<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Auth page</h1>

    <div>
        <form action="/signup" method="POST" method="GET">

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="paassword2" placeholder="Repiat password">
            <input type="text" name="surname" placeholder="surname">
            <input type="text" name="name" placeholder="name">

            <button type="submit">Отправить</button>
        </form>

        <a href="/signin">Вход</a>
    </div>
</body>

</html>
